.blades-and-reveal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 20;
}

.background-image {
  position: absolute;
  top: 22%;
  left: 60%;
  width: 32%; /* Tamaño reducido de la imagen */
  height: 70%;
  /* background-image: url("/chica3.png"); Ruta de la imagen de fondo */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.background-image1 {
  position: fixed;
  top: 22%;
  right: 8%;
  width: 32%; /* Tamaño reducido de la imagen */
  height: 70%;
  background-image: url("/chicanueva22.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
}
.background-imageS {
  position: absolute;
  top: 0%;
  right: 5%;
  width: 100%; /* Tamaño reducido de la imagen */
  height: 100%;
  /* background-image: url("/chica3.png"); Ruta de la imagen de fondo */

  /* transform: translate(-50%, -50%); */
  z-index: 2;
}
.background-image2 {
  position: fixed;
  top: 10%;
  right: 0%;
  width: 40%; /* Tamaño reducido de la imagen */
  height: 100%;
  background-image: url("/chicanueva.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.3;
}

.background-image3 {
  position: absolute;
  top: 10%;
  right: 0%;
  width: 40%; /* Tamaño reducido de la imagen */
  height: 100%;
  background-image: url("/tipo2.png"); /* Ruta de la imagen de fondo */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.background-image4 {
  position: fixed;
  top: 5%;
  right: 20%;
  width: 100%; /* Tamaño reducido de la imagen */
  height: 100%;
  background-image: url("/tiponuevo.webp"); /* Ruta de la imagen de fondo */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.background-image5 {
  position: fixed;
  top: 5%;
  right: 20%;
  width: 100%; /* Tamaño reducido de la imagen */
  height: 100%;
  background-image: url("/autonomo1.webp"); /* Ruta de la imagen de fondo */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.background-image6 {
  position: fixed;
  top: 0%;
  right: -20%;
  width: 100%; /* Tamaño reducido de la imagen */
  height: 100%;
  background-image: url("/autonomo2.webp"); /* Ruta de la imagen de fondo */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.blades-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px; /* Grosor de la línea */
  transform-origin: center center;
  z-index: 3;
}

.blade {
  position: absolute;
  top: 0;
  width: 45%; /* Longitud de cada aspa */
  height: 100%;
  background: white;
}

.left-blade {
  left: 0;
}

.right-blade {
  right: 0;
}

.mask {
  position: absolute;
  top: 100;
  opacity: 0.2;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 20;
  transform-origin: center center;
}

.fill{
  transition: 0.5s;
  border:1px solid rgba(0, 0, 0, 0.671) !important;

}

.fill:hover {
  border:1px solid white !important;
  outline: none;
}
.fill:focus {
  outline: none;
}

