.section-container {
    width: 100%;
    height: 100%;
  }
  
  .motion-section {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .motion-section.right {
    justify-content: flex-end;
  }
  
  .motion-section.left {
    justify-content: flex-start;
  }
  
  .section-content {
    max-width: 44vw;
    color: white;
    z-index: 25;
    height: -webkit-fill-available;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .section-content.align-end {
    align-self: flex-end;
  }
  
  .back-arrow {
    object-fit: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.8;
  }
  
  .section-title-img {
    object-fit: contain;
    width: auto;
    height: auto;
  }
  
  .section-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 0;
  }
  
  .section-heading {
    font-family: "Nunito Sans";
    font-weight: bold;
    font-size: 22px;
  }
  
  .section-description {
    font-family: "Nunito Sans";
    font-weight: normal;
    padding-top: 10px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
  }
  
  .button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .section-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }